<p-card [header]="isEditMode ? 'Edit Author' : 'Create Author'">
  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <div class="field p-fluid">
      <p-floatLabel>
        <input id="name" type="text" pInputText formControlName="name" />
        <label for="name">Name</label>
      </p-floatLabel>
      <small
        *ngIf="
          authorForm.get('name')?.invalid && authorForm.get('name')?.touched
        "
        class="p-error"
      >
        Name is required
      </small>
    </div>

    <div class="field p-fluid">
      <p-floatLabel>
        <p-calendar id="calendar" formControlName="birthDate" dateFormat="dd.mm.yy" />

        <label for="calendar">Birth date</label>
      </p-floatLabel>
    </div>

    <div class="field p-fluid">
      <p-floatLabel>
        <textarea
          id="biography"
          pInputTextarea
          formControlName="biography"
          rows="5"
        ></textarea>
        <label for="biography">Biography</label>
      </p-floatLabel>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button type="button" label="Cancel" styleClass="p-button-secondary" (click)="onCancel()"></p-button>
      <p-button type="submit" [label]="isEditMode ? 'Update' : 'Save'" [disabled]="authorForm.invalid"></p-button>
    </div>
  </form>
</p-card>
